spring:
  application:
    name: presensi_app

  datasource:
    url: jdbc:postgresql://localhost:5432/presensi_db
    username: postgres
    password: wahyu120505
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        transaction:
          jta:
            platform: org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform
    open-in-view: false
